<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='tess.css') }}"
    />
    <title>Hospital Website</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="container">
          <a href="homepage.html" class="logo">
            <img src="/images/logo_hospital.png" alt="Hospital Logo" />
          </a>
          <ul class="nav-links">
            <a href="homepage.html">Trang Chủ</a>
            <a href="#services">Dịch Vụ</a>
            <a href="#doctors">Đội Ngũ Bác Sĩ</a>
            <a href="#bookService">Đặt lịch khám</a>
            <a href="login1.html">Đăng Nhập/Đăng Kí</a>
          </ul>
          <div class="search-bar">
            <input type="text" placeholder="Search..." />
            <button type="button">Search</button>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
