/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #2f4050;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.profile {
  text-align: center;
}

.profile img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav ul li {
  margin: 20px 0;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.footer-image img {
  width: 100%;
  margin-top: 20px;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* Allow scrolling if content exceeds viewport height */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.logout-button {
  background-color: #d9534f;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #c9302c;
}

.status-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-left: 5px;
}

/* patients Section */
.patients-section {
  margin-top: 20px;
}

.patients-section h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #2f4050;
}

/* patients Table */
.patients-table-inside {
  max-height: 70vh;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #2f4050;
  padding-top: 0cm;
  color: #fff;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #2f4050;
  z-index: 10; /* Ensure the header stays above the content */
  text-align: center;
  padding: 0; /* No padding inside header cells */
  height: 60px; /* Fixed height for header */
  line-height: 60px; /* Center text vertically */
  border-bottom: 1px solid #ddd; /* Border at the bottom */
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
